
*.a
*.log
*.o
*.tar
SOFTWARE/IMON370
SOFTWARE/MVSDDT/Client/Book.png
SOFTWARE/MVSDDT/Client/bug.png
SOFTWARE/MVSDDT/Client/ddt.jar
SOFTWARE/MVSDDT/Client/ddt.png
SOFTWARE/MVSDDT/Client/ddttrace.txt
SOFTWARE/MVSDDT/Client/lib/ddthelp.jar
SOFTWARE/MVSDDT/Client/lib/jh.jar
SOFTWARE/MVSDDT/Client/license.txt
SOFTWARE/MVSDDT/Client/readme.txt
SOFTWARE/MVSDDT/Server/mvsddt.het
SOFTWARE/MVSDDT/Server/mvsddt.jcl
SOFTWARE/MVSDDT/Uninstaller/uninstaller.jar
SOFTWARE/MVSDDT/add_ctc.sh
SOFTWARE/MVSDDT/install.jar
build
sysgen/dasd/*.2314
sysgen/dasd/*.3330
sysgen/dasd/*.3350
sysgen/dasd/*.3380
sysgen/dasd/*.3390
failure
hercules.log
mvslog.txt
pch00d.txt
pch013.txt
pch01d.txt
prt00e.*.txt
prt00e.txt
prt00e_*.txt
prt00f.txt