
*.a
*.log
*.o
*.tar
build
sysgen/dasd/*.2314
sysgen/dasd/*.3330
sysgen/dasd/*.3350
sysgen/dasd/*.3380
sysgen/dasd/*.3390
failure
hercules.log
mvslog.txt
pch00d.txt
pch013.txt
pch01d.txt
prt00e.*.txt
prt00e.txt
prt00e_*.txt
prt00f.txt
SOFTWARE/MVSDDT_
